<%= render "shared/navbar" %>
<h1>All costumes</h1>

<ul class="costume-grid">
<% @costumes.each do |costume| %>
  <li class="costume-card">
    <%= link_to costume_path(costume) do %>
        <%= cl_image_tag(costume.photo.key, width: 200, height: 200, crop: :fill, gravity: :face, class:"costume-photo") %>
        <h2 class="costume-name"><%= costume.title %></h2>
        <div class="costume-price"></div><%= costume.price %></div>
    <% end %>
  </li>
<% end %>
</ul>
