<%= render "shared/navbar" %>
<h1 id="title-index">All ours costumes</h1>

<%= link_to "Add Costume", new_owner_costume_path, class: "btn btn-gradient" %>

<ul class="costume-grid">
<% @costumes.each do |costume| %>
  <li class="costume-card">
    <%= link_to costume_path(costume) do %>
        <%= cl_image_tag(costume.photo.key, width: 200, height: 200, crop: :fill, gravity: :face, class:"costume-photo") %>
        <h2 class="costume-name"><%= costume.title %></h2>
        <p class="costume-price"> <%= costume.price.round%> €</p>
    <% end %>
  </li>
<% end %>
</ul>
