<%= render "shared/navbar" %>
<h1 id="title-new">Edit Your Costume</h1>

<%= simple_form_for([:owner, @costume], html: { id: 'edit-costume-form', class: 'custom-form' }) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit id: 'new-form-submit' %>
<% end %>
