<%= render "shared/navbarhome" %>

<div class="pages-container">
  <h1> Hello <%= @user.username  %> </h1>
  <div id="booking-dashboard-grid">
    <%# Div des Owner Bookings status : "Pending" %>
    <div class="show-bookings mt-3">
      <% if @owner_bookings == [] %>
        <h2 class="text-decoration">You don't have any booking at this moment</h2>
      <% else %>
        <h2 class="text-decoration">Bookings for your costumes</h2>
        <div id="pending-bloc"class="d-flex gap-3 mt-3">
          <% if @owner_bookings != nil %>
            <% @owner_bookings.each do |b| %>
              <div id="pending-card-owner" class="bg-white p-3">
                <img src="#" alt="Image du costume">
                <p class="border rounded"> <%= b.status %> </p>
                <p><strong>Book by:</strong> <%= b.user.username %></p>
                <p><em>in <%= (b.start_date - Date.today).to_i %> days!</em></p>
                <p>Start: <%= b.start_date %></p>
                <p>End: <%= b.end_date %></p>
                <p>Total price: <strong><%= b.total_price.round %>€</strong></p>
                <button type="button" class="btn btn-outline-success">Accept</button>
                <button type="button" class="btn btn-outline-danger">Decline</button>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# Div des Owner Bookings status : "Accepted" %>
    <div class="validate-card mt-3">
      <% if @owner_bookings == [] %>
        <h2 class="text-decoration">You don't have any booking at this moment</h2>
      <% else %>
        <h2 class="text-decoration">Validates Bookings !</h2>
        <div id="validate-bloc" class="d-flex gap-3 mt-3">
          <% if @owner_bookings != nil %>
            <% @owner_bookings.each do |b| %>
              <div id="validate-card-owner" class="bg-white p-3">
                <img src="#" alt="Image du costume">
                <p class="border border-success"> <%= b.status = "Accepted" %> </p>
                <p><strong>Book by:</strong> <%= b.user.username %></p>
                <p><em>in <%= (b.start_date - Date.today).to_i %> days!</em></p>
                <p>Start: <%= b.start_date %></p>
                <p>End: <%= b.end_date %></p>
                <p>Total price: <strong><%= b.total_price.round %>€</strong></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%# All costumes you're selling %>
  <div>
    <h2>All your costume in the renting shop</h2>
    <div class="owner-costume-card">
      <% @owner_costumes.each do |owner_costume| %>
      <%= owner_costume.title  %>
       <%= cl_image_tag(owner_costume.photo.key, width: 200, height: 200, crop: :fill, gravity: :face) %>
       <%= link_to "edit", edit_owner_costume_path(owner_costume) %>
       <%# A CHANGER %>
       <%= link_to "delete", edit_owner_costume_path(owner_costume) %>
      <% end %>
    </div>
  </div>
  </div>
