<%= render "shared/navbarhome" %>

<h1> Hello <%= @user.username  %> </h1>

<%# Owner Boookings on your Costumes %>
<div class="show-bookings mt-3">
  <% if @owner_bookings == [] %>
    <h2 class="text-decoration">You don't have any booking at this moment</h2>
  <% else %>
    <h2 class="text-decoration">Bookings for your costumes</h2>
    <div class="d-flex gap-3 mt-3">
      <% if @owner_bookings != nil %>
        <% @owner_bookings.each do |b| %>
          <div id="booking-card-owner" class="bg-white p-3">
            <img src="#" alt="Image du costume">
            <p><strong>Book by:</strong> <%= b.user.username %></p>
            <p><em>in <%= (b.start_date - Date.today).to_i %> days!</em></p>
            <p>Start: <%= b.start_date %></p>
            <p>End: <%= b.end_date %></p>
            <p>Total price: <strong><%= b.total_price.round %>€</strong></p>
            <p id="button-accept" class="btn btn-success">Accept</p>
            <p id="button-decline"class="btn btn-danger">Decline</p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>


<%# Costumes rent %>
<div class="show-bookings mt-3">
    <% if @user_bookings == [] %>
    <h2 class="text-decoration">You don't have any booking for this costume :( </h2>
    <% else %>
      <h2 class="text-decoration">The costumes you’re going to wear</h2>
      <div class="d-flex gap-3 mt-3">
        <% if @user_bookings != nil %>
          <% @user_bookings.each do |b| %>
            <div id="booking-card" class="bg-white p-3">
              <img src="#" alt="Costume id">
              <p><em>in <%= (b.start_date - Date.today).to_i %> days!</em></p>
              <p>Start: <%= b.start_date %></p>
              <p>End: <%= b.end_date %></p>
              <p>Total Price: <strong><%= b.total_price.round %>€</strong></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<%# All costumes you're selling %>
<div>
  <h2>All your costume in the renting shop</h2>
  <div class="owner-costume-card">
    <h3>Costume title</h3>
    <p>Description</p>
    <p>Price</p>
  </div>
</div>
