<%= render "shared/navbarhome" %>
<div class="banner">
  <div class="container">
      <div class="costumecard">
          <%= link_to cl_image_tag(@costume1.photo.key, width: 250, height: 250, crop: :fill, gravity: :face), costume_path(@costume1) %>
          <%= link_to cl_image_tag(@costume2.photo.key, width: 250, height: 250, crop: :fill, gravity: :face), costume_path(@costume2) %>
      </div>
      <p>Become who you've ever dream to be</p>
      <%= link_to "Click to change your costum", costumes_path, id:"btn-homepage" %>
  </div>
</div>
<%= render "shared/footer" %>
