<div class="banner">
    <div class="navbar navbar-expand-sm navbar-light navbar-home">
      <div class="title">
          <h1> <%= link_to "Disguise Yourself !", costumes_path, class: "text-decoration-none text-white" %> </h1>
      </div>
      <%# <div class="container-fluid"> %>
        <%= link_to "/costumes", class: "navbar-brand" do %>
          <%= image_tag "ghost_logo.png" %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <%# </div> %>
    </div>

  <div class="container">
      <div class="costumecard">
          <%= link_to cl_image_tag(@costume1.photo.key, width: 250, height: 250, crop: :fill, gravity: :face), costume_path(@costume1) %>
          <%= link_to cl_image_tag(@costume2.photo.key, width: 250, height: 250, crop: :fill, gravity: :face), costume_path(@costume2) %>
      </div>
      <p>Become who you've ever dream to be</p>
      <%= link_to "Click to change your costum", costumes_path, id:"btn-homepage" %>
  </div>
</div>
<%= render "shared/footer" %>
