<!DOCTYPE html>
<html>
  <head>
    <title>DisguiseYourself</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# affiche la navbar sur toutes les pages (mais on veut la veut pas sur la hoem page)%>
    <%= render "shared/navbar" %>

    <%= yield %>

    <%# LES DEUX LIGNES CI-DESSOUS SONT LA CAUSE DE LA LIGNE BLANCHE EN BAS DE PAGE %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
